# Byte-compiled / optimized / DLL files
*.env
/bin/
!/bin/.gitkeep
/api
/main
/node_modules
/.serverless/

# Mac
.DS_Store

# IDE
.idea
.vscode

# ENV
.env
*_rsa

# Terraform
*.tfstate*
.terraform

# Golang
dist/
vendor/
